@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* --------------------------------

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

html, body {
  /* important for the full-width image to work */
  height: 100%;
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $main-text;
  background-color: $background;
}

a {
  color: $color-4;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: $primary-font;
  @include font-size(16px);

  &::-ms-clear {
    display: none;
  }
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: $M; // breakpoints inside partials > _layout.scss
  margin: 0 auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

/* --------------------------------

Main login components

-------------------------------- */

header[role=banner] {
  position: relative;
  height: $header-height-S;
  background: $color-1;

  #cd-logo {
    float: left;
    margin: 4px 0 0 5%;

    /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
    @include transform-origin(0 50%);
    @include transform(scale(.8));

    img {
      display: block;
    }
  }

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }

  @include MQ(M) {
    height: $header-height-M;

    #cd-logo {
      margin: 20px 0 0 5%;
      @include transform(scale(1));
    }
  }
}

.main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url('../img/cd-icon-menu.svg') no-repeat center center;
  cursor: pointer;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include transform(translateY(-100%));

    &.is-visible {
      @include transform(translateY($header-height-S));
    }
  }

  a {
    display: block;
    height: $header-height-S;
    line-height: $header-height-S;
    padding-left: 5%;
    background: darken($color-1, 5%);
    border-top: 1px solid lighten($color-1, 3%);
    color: #FFF;
  }

  @include MQ(M) {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;

    ul {
      position: static;
      width: auto;
      @include transform(translateY(0));
      line-height: $header-height-M;

      &.is-visible {
        @include transform(translateY(0));
      }
    }

    li {
      display: inline-block;
      margin-left: 1em;

      &:nth-last-child(2) {
        margin-left: 2em;
      }
    }

    a {
      display: inline-block;
      height: auto;
      line-height: normal;
      background: transparent;

      &.cd-signin, &.cd-signup {
        padding: .6em 1em;
        border: 1px solid rgba(#FFF, .6);
        border-radius: 50em;
      }

      &.cd-signup {
        background: $color-2;
        border: none;
      }
    }
  }
}

/* --------------------------------

xsigin/signup popup

-------------------------------- */


.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-1, .9);
  z-index: $modal-zindex;
  overflow-y: auto;
  cursor: pointer;

  visibility: hidden;
  opacity: 0;
  @include transition(opacity .3s 0, visibility 0 .3s);

  &.is-visible {
    visibility: visible;
    opacity: 1;

    @include transition(opacity .3s 0, visibility 0 0);

    .cd-user-modal-container {
      @include transform(translateY(0));
    }
  }
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  @include border-radius;
  @include transform(translateY(-30px));

  @include transition-property (transform);
  @include transition-duration(.3s);

  .cd-switcher {
    @include clearfix;

    li {
      @include column(.5);
      text-align: center;

      &:first-child a {
        border-radius: .25em 0 0 0;
      }

      &:last-child a {
        border-radius: 0 .25em 0 0;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background: $color-3;
      color: darken($color-3, 30%);

      &.selected {
        background: #FFF;
        color: $main-text;
      }
    }
  }

  @include MQ(S) {
    margin: 4em auto;

    .cd-switcher a {
      height: 70px;
      line-height: 70px;
    }
  }
}

.cd-form {
  padding: 1.4em;

  .fieldset {
    position: relative;
    margin: 1.4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    @include font-size(14px);

    &.image-replace {
      /* replace text with an icon */
      display: inline-block;
      position: absolute;
      left: 15px;
      @include center(y);
      height: 20px;
      width: 20px;

      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      color: transparent;
      text-shadow: none;

      background-repeat: no-repeat;
      background-position: 50% 0;
    }

    &.cd-username {
      background-image: url('../img/cd-icon-username.svg');
    }

    &.cd-email {
      background-image: url('../img/cd-icon-email.svg');
    }

    &.cd-password {
      background-image: url('../img/cd-icon-password.svg');
    }
  }

  input {
    margin: 0;
    padding: 0;
    @include border-radius;

    &.full-width {
      width: 100%;
    }

    &.has-padding {
      padding: 12px 20px 12px 50px;
    }

    &.has-border {
      border: 1px solid $color-3;
      @include appearance(none);

      &:focus {
        border-color: $color-1;
        box-shadow: 0 0 5px rgba($color-1, .1);
        outline: none;
      }
    }

    &.has-error {
      border: 1px solid $red;
    }

    &[type=password] {
      /* space left for the HIDE button */
      padding-right: 65px;
    }

    &[type=submit] {
      padding: 16px 0;
      cursor: pointer;
      background: $color-2;
      color: #FFF;
      font-weight: bold;
      border: none;
      @include appearance(none);

      .no-touch &:hover, .no-touch &:focus {
        background: lighten($color-2, 5%);
        outline: none;
      }
    }
  }

  .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid $color-3;
    @include center(y); // see partials > _mixins.scss
    @include font-size(14px);
    color: $color-1;
  }

  .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba($red, .9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    @include font-size(13px);
    @include border-radius;

    /* prevent click and touch events */
    pointer-events: none;

    visibility: hidden;
    opacity: 0;

    @include transition(opacity .2s 0, visibility 0 .2s);

    &::after {
      /* triangle */
      content: '';
      position: absolute;
      left: 22px;
      bottom: 100%;
      @include triangle(16px, rgba($red, .9), up);
    }

    &.is-visible {
      opacity: 1;
      visibility: visible;

      @include transition(opacity .2s 0, visibility 0 0);
    }
  }

  @include MQ(S) {
    padding: 2em;

    .fieldset {
      margin: 2em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    input.has-padding {
      padding: 16px 20px 16px 50px;
    }

    input[type=submit] {
      padding: 16px 0;
    }
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  @include font-size(14px);
  line-height: 1.4;
  text-align: center;

  @include MQ(S) {
    padding: 2em 2em 0;
  }
}

.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  @include font-size(14px);

  a {
    color: #FFF;
    text-decoration: underline;
  }
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url('../img/cd-icon-close.svg') no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  @include MQ(L) {
    display: none;
  }
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

/* --------------------------------

Main menu components

-------------------------------- */

#cd-main-content {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: $color-1;

  /* slightly visible only when we resize this element */
  box-shadow: 0 0 40px rgba(#000, .8);

  z-index: $main-zindex;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  @include transition-property (transform);
  @include transition-duration(.5s);

  &.move-out {
    @include transform(scale(.6));
  }

  .no-js & {
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
  }
}

#cd-intro {
  position: relative;
  height: 100%;
  background: url('../img/bg-img.jpg') no-repeat center center;
  background-size: cover;

  h1 {
    position: absolute;
    width: 90%;
    @include center; // see partials > _mixins.scss
    text-align: center;
    @include font-size(18px);
    font-weight: bold;
    color: $color-4;
  }

  @include MQ(M) {
    h1 {
      @include font-size(26px);
    }
  }

  .no-js & {
    height: 640px;
  }
}

.cd-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  background: rgba($color-1, .6);
  @include transition(background .2s);

  @include MQ(M) {
    height: 80px;
  }
}

.cd-blurred-bg {
  /* we use jQuery to apply a mask to this element - CSS clip property */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bg-img.jpg') no-repeat center center;
  background-size: cover;
  @include filter(blur(4px));

  .no-js & {
    display: none;
  }
}

#cd-logo {
  position: absolute;
  left: 10px;
  top: 8px;

  width: 100px;
  height: 32px;

  img {
    display: block;
  }

  @include MQ(M) {
    left: 20px;
    top: 24px;
  }

  @include MQ(L) {
    left: 60px;
  }
}

.cd-menu-trigger {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  padding: 0 .8em;
  text-transform: uppercase;
  font-weight: bold;
  @include font-size(14px);

  span {
    /* hamburger icon */
    position: relative;
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: $color-4;
    vertical-align: middle;
    margin-left: 10px;
    @include transform(translateY(-2px));

    &::before, &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;

      @include transition(all .2s);
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }
  }

  .no-touch &:hover span::before {
    top: -8px;
  }

  .no-touch &:hover span::after {
    bottom: -8px;
  }

  @include MQ(M) {
    top: 16px;
    right: 10px;
    @include font-size(16px);
  }

  @include MQ(L) {
    right: 60px;
  }
}

#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-2;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  /* we move this element off the canvas */
  @include transform(translateY(-100%));

  @include transition-property (transform);
  @include transition-duration(.5s);

  z-index: $nav-zindex;

  ul {
    height: 100%;
  }

  li {
    height: 100% / $menu-items-number; // see partials > _variables.scss

    a {
      position: relative;
      display: block;
      padding: 0 10%;
      height: 100%;
      border-bottom: 1px solid darken($color-2, 5%);
      color: $color-1;
      @include font-size(20px);
      font-weight: bold;

      span {
        position: absolute;
        @include center; // see partials > _mixins.scss
      }

      .no-touch &:hover {
        background-color: #FFF;
      }
    }

    &:last-child a {
      border-bottom: none;
    }
  }

  .cd-close-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $color-3;

    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

    &::before, &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 18px;
      left: 10px;
      width: 20px;
      height: 3px;
      background-color: #FFF;

      @include transition-property (transform);
      @include transition-duration(.3s);
    }

    &::before {
      @include transform(rotate(45deg));
    }

    &::after {
      @include transform(rotate(135deg));
    }

    .no-touch &:hover {
      &::before {
        @include transform(rotate(225deg));
      }

      &::after {
        @include transform(rotate(315deg));
      }
    }
  }

  &.is-visible {
    box-shadow: 0 0 20px rgba(#000, .4);
    @include transform(translateY(0));
  }

  .no-js & {
    position: static;
    @include transform(translateY(0));

    .cd-close-menu {
      display: none;
    }
  }
}

.cd-shadow-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(#000, .4);
  z-index: $shadow-zindex;
  opacity: 0;
  visibility: hidden;

  @include transition(visibility 0s .5s, opacity .5s 0s);

  &.is-visible {
    opacity: 1;
    visibility: visible;

    @include transition-delay(0s);
  }
}