<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>StartPage</servlet-name>
        <servlet-class>servlets.startPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBlock</servlet-name>
        <servlet-class>servlets.loginBlock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGamePage</servlet-name>
        <servlet-class>servlets.createGamePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameWindow</servlet-name>
        <servlet-class>servlets.gamePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Game</servlet-name>
        <servlet-class>servlets.Game</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectGame</servlet-name>
        <servlet-class>servlets.ConnectGamePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>servlets.Users</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartPage</servlet-name>
        <url-pattern>/startpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBlock</servlet-name>
        <url-pattern>/loginblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGamePage</servlet-name>
        <url-pattern>/creategame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameWindow</servlet-name>
        <url-pattern>/gamewindow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectGame</servlet-name>
        <url-pattern>/connectgame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>