/* --------------------------------

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "PT Sans", sans-serif;
    color: #505260;
    background-color: #2e2d32;
}

html, body {
    /* important for the full-width image to work */
    height: 100%;
}

a {
    color:  #2f889a;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input, textarea {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
}
input::-ms-clear, textarea::-ms-clear {
    display: none;
}
/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* --------------------------------

Main components

-------------------------------- */

header[role=banner] {
    position: relative;
    height: 50px;
    background: #343642;
}
header[role=banner] #cd-logo {
    float: left;
    margin: 4px 0 0 5%;
    /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
header[role=banner] #cd-logo img {
    display: block;
}
header[role=banner]::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.main-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    background: url("../img/cd-icon-menu.svg") no-repeat center center;
    cursor: pointer;
}
.main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.main-nav ul.is-visible {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
}
.main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #292a34;
    border-top: 1px solid #3b3d4b;
    color: #FFF;
}

#cd-main-content {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #222;
    /* slightly visible only when we resize this element */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#cd-main-content.move-out {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}
.no-js #cd-main-content {
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
}

#cd-intro {
    position: relative;
    height: 100%;
    background: url("../img/bg-img.jpg") no-repeat center center;
    background-size: cover;
}
#cd-intro h1 {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
}
@media only screen and (min-width: 768px) {
    #cd-intro h1 {
        font-size: 26px;
        font-size: 1.625rem;
    }

    header[role=banner] {
        height: 80px;
    }
    header[role=banner] #cd-logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .main-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        line-height: 80px;
    }
    .main-nav ul.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .main-nav li {
        display: inline-block;
        margin-left: 1em;
    }
    .main-nav li:nth-last-child(2) {
        margin-left: 2em;
    }
    .main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .main-nav a.cd-signin, .main-nav a.cd-signup {
        padding: .6em 1em;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 50em;
    }
    .main-nav a.cd-signup {
        background: #2f889a;
        border: none;
    }

}
.no-js #cd-intro {
    height: 640px;
}

.cd-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    background: rgba(58, 57, 63, 0.6);
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
@media only screen and (min-width: 768px) {
    .cd-header {
        height: 80px;
    }
}

.cd-blurred-bg {
    /* we use jQuery to apply a mask to this element - CSS clip property */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg-img.jpg") no-repeat center center;
    background-size: cover;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
.no-js .cd-blurred-bg {
    display: none;
}

#cd-logo {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 100px;
    height: 32px;
}
#cd-logo img {
    display: block;
}
@media only screen and (min-width: 768px) {
    #cd-logo {
        left: 20px;
        top: 24px;
    }
}
@media only screen and (min-width: 1170px) {
    #cd-logo {
        left: 60px;
    }
}

.cd-menu-trigger {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 .8em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-menu-trigger span {
    /* hamburger icon */
    position: relative;
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: white;
    vertical-align: middle;
    margin-left: 10px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}
.cd-menu-trigger span::before, .cd-menu-trigger span::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.cd-menu-trigger span::before {
    top: -6px;
}
.cd-menu-trigger span::after {
    bottom: -6px;
}
.no-touch .cd-menu-trigger:hover span::before {
    top: -8px;
}
.no-touch .cd-menu-trigger:hover span::after {
    bottom: -8px;
}
@media only screen and (min-width: 768px) {
    .cd-menu-trigger {
        top: 16px;
        right: 10px;
        font-size: 16px;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-menu-trigger {
        right: 60px;
    }
}

#main-nav2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eeecf5;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    /* we move this element off the canvas */
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 3;
}
#main-nav2 ul {
    height: 100%;
}
#main-nav2 li {
    height: 20%;
}
#main-nav2 li a {
    position: relative;
    display: block;
    padding: 0 10%;
    height: 100%;
    border-bottom: 1px solid #dfdbec;
    color: #3a393f;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}
#main-nav2 li a span {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.no-touch #main-nav2 li a:hover {
    background-color: #FFF;
}
#main-nav2 li:last-child a {
    border-bottom: none;
}
#main-nav2 .cd-close-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #d26c64;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
#main-nav2 .cd-close-menu::before, #main-nav2 .cd-close-menu::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 10px;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#main-nav2 .cd-close-menu::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#main-nav2 .cd-close-menu::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.no-touch #main-nav2 .cd-close-menu:hover::before {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.no-touch #main-nav .cd-close-menu:hover::after {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}
#main-nav2.is-visible {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.no-js #main-nav2 {
    position: static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.no-js #main-nav2 .cd-close-menu {
    display: none;
}

.cd-shadow-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.5s, opacity 0.5s 0s;
    -moz-transition: visibility 0s 0.5s, opacity 0.5s 0s;
    transition: visibility 0s 0.5s, opacity 0.5s 0s;
}
.cd-shadow-layer.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}

/* --------------------------------

xsigin/signup popup

-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}
@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.cd-form label.cd-username {
    background-image: url("../img/cd-icon-username.svg");
}
.cd-form label.cd-email {
    background-image: url("../img/cd-icon-email.svg");
}
.cd-form label.cd-password {
    background-image: url("../img/cd-icon-password.svg");
}
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 100%;
}
.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}
.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}
.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }
    .cd-form .fieldset {
        margin: 2em 0;
    }
    .cd-form .fieldset:first-child {
        margin-top: 0;
    }
    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

.cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}

/*
text
*/
@import url(http://fonts.googleapis.com/css?family=Arvo:700);
@import url(http://fonts.googleapis.com/css?family=Seaweed+Script);
body {
    background-color: #222;
}
.plate {
    width: 410px;
    margin: 10% auto;
}
.shadow {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
}
.script {
    font-family: "Seaweed Script";
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin:0;
}
.script span {
    background-color: #222;
    padding: 0 0.3em;
}
.script:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 3px solid #fff;
}
.text1 {
    font-size: 60px;
}
.text2 {
    font-size: 169px;
}
.text3 {
    font-size: 100px;
}