body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #00B7FF;
}

.main {
    padding: 10px;
}

.menuButton{
    width: 200px;
    height: 40px;
    text-align: center;
    display: inline-block;
    top:0;
    background-color: lightblue;
    color: white;
}

.menuButton:hover {
    width: 200px;
    height: 100%;
    text-align: center;
    display: inline-block;
    top:0;
    background-color: white;
    color: lightblue;
}

.menu{
    height: 40px;
}

.header {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    top: 0px;
    background-color: honeydew;
}

.overlay{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #CCC;
    z-index: 9;
    opacity: 0.5;
    overflow: hidden;
}

.loginArea {
    display: block;
    border-radius: 5px;
    width:30%;
    height:auto;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    background-color: #FFF;
    font-family: Arial, sans-serif;
    z-index: 10;
    position: fixed;
    font-size: 14px;
    overflow-y: auto;
    left: 0; right: 0;
}
.errorList span {
    width: 100%;
    color: red;
 }

.loginArea .element{
    width: 90%;
    margin: 10px 5%;
    padding: 0px 10px;
    border-radius: 5px;
}

.loginArea input[type="text"] {
    border: 0px none;
    height: 30px;
    background: #d0d0d0;
}
.loginArea input[type="password"]
{
    border: 0px none;
    height: 30px;
    background: #d0d0d0;
}
.loginArea input[type="submit"]
{
    border: 0px none;
    height: 30px;
    background: #91a6ff;
}

.loginArea input:hover{
    cursor: pointer;
}

.loginArea label
{
    margin: 0px 10px;
}

.loginArea a{
    margin: 10px;
    text-decoration: none;
}

.loginArea a:hover{
    font-size: 110%;
    font-weight: bold;
}

.top{
    margin: 0 0;
}

.right{
    padding: 5px 10px;
    float:right
}

.right a{
    text-decoration: none;
    font-weight: bold;
}

.windowGame{
    margin: 0 100px;
}
.windowGame .title
{
    font-weight: 400;
    font-size: 30px;
    display: table;
    margin: auto;
}

.windowGame .buyButton{
    width: 100px;
    height: 100px;
    background-color: cyan;
}

.windowGame .buyButton:hover{
    width: 100px;
    height: 100px;
    background-color: blue;
}